@media only screen and (max-width: 1324px) {

    /* Utility Classes */

    .h-primary {
        font-size: 2rem;
    }

    /* Navbar Section */

    #navbar::before {
        height: 93%;
    }

    #navbar ul li a{
        padding: 4px 8px;
    }

    #logo img {
        width: 45px;
    }

    #logo div {
        font-size: 0.8rem;
    }

    /* Home Section */

    #home p {
        font-size: 1.2rem;
    }

    /* Services Section */

    #services {
        flex-direction: column;
    }

    /* Clients Section */

    #clients {
        flex-wrap: wrap;
    }

    .client-item {
        margin: 6px;
        padding: 12px;
    }

    #clients img {
        height: 100px;
    }

    /* Contact Section */

    #contact {
        top: 145px;
    }

    /* Footer Section */

    footer {
        position: relative;
        top: 145px;
    }

}

@media only screen and (max-width: 832px) {

    /* Navbar Section */

    #navbar ul li {
        font-size: 0.8rem;
    }

    #navbar ul li a {
        padding: 3px 6px;
    }

    #logo {
        left: 0px;
        top: 0px;
    }

    #logo img {
        width: 25px;
    }

    #logo>div {
        font-size: 0.5rem;
    }

    /* Home Section */

    #home h1 {
        font-size: 1.3rem;
    }

    #home>p {
        font-size: 0.8rem;
    }

    #home .btn {
        padding: 5px 10px;
        font-size: 0.9rem;
        border: 1px solid black;
        border-radius: 15px;
    }

    /* Clients Section */

    .client-item {
        margin: 3px;
        padding: 6px;
    }

    #clients img {
        height: 70px;
    }

    /* Contact Section */

    #contact {
        position: relative;
        top: 110px;
    }

    /* Footer Section */

    footer {
        position: relative;
        top: 115px;
    }

}

@media only Screen and (min-width: 562px) and (max-width: 862px) {
    /* Contact Section */

    #contact {
        position: relative;
        top: 190px;
    }

    /* Footer Section */

    footer {
        position: relative;
        top: 190px;
    }
}
